pipeline/Pipe_Filter_ifcondition.json
{
	"name": "Pipe_Filter_ifcondition",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ArrayOfIntegers",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "True",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait-false",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Wait-True",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ArrayOfIntegers": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6,
					7,
					8,
					9
				]
			}
		},
		"folder": {
			"name": "LearnADF"
		},
		"annotations": []
	}
}